<!--1. 첫째주 강의 내용 -->
<!--아래코딩은 markup 이라고 칭함 -->
<html>
    <head>

    </head>
    <body>
        <div>
            <p>aychoi_study</p>
            <h1>aaa</h1>
            <h2>aaa</h2>
            <a href="https://naver.com">naver 바로가기</a>
        </div>
        <div>
            <img width=50 height=50 src="image/image1.bmp">
        </div>

    </body>
</html>

<!--아래코딩은 styling 이라고 칭함 -->
<html>
    <head>
        <style>
            #aaa {
                color: rebeccapurple;
                font-size: 20px;
                margin: 20px;
            }
            #bbb {
                color: blue;
            }
            .agroup {
                color: pink
            }
            a {
                color: violet;
                font-size: 30px;
            }
        </style>
    </head>
    <body>
        <p id="aaa">hello</p>
        <p id="bbb">hello1</p>
        <p class="agroup">hello2</p>
        <p class="agroup">hello3</p>
        <a>test</a>
    </body>
</html>

