<!DOCTYPE html>
<html>
    <head>
        <style>
            tables {
                width: 100%;
                overflow: visible;
                text-align: center;
                display: table;
                border-collapse: collapse;
                border-spacing: 2px;
                border-color: grey;
            }
            table, th, td {
                border : 1px solid black;
                color : #333333;
            }
        </style>
        <meta charset="utf-8">
        <title>7월달력</title>
    </head>
    <body>
        <table width=100% height=700>
            <colgroup>
                <col width="150" style="background-color: #cccccc;"/>
                <col width="150"/>
                <col width="150"/>
                <col width="150"/>
                <col width="150"/>
                <col width="150"/>
                <col width="150"/>
            </colgroup>
            <tr>
                <th colspan="7" style="background-color: bisque;">7월</th>
            </tr>
            <tr>
                <td align="center">SUN</td>
                <td align="center">MON</td>
                <td align="center">TUE</td>
                <td align="center">WED</td>
                <td align="center">THU</td>
                <td align="center">FRI</td>
                <td align="center">SAT</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
            </tr>
            <tr>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
            </tr>
            <tr>
                <td>19</td>
                <td>20</td>
                <td>21</td>
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td>25</td>
            </tr>
            <tr>
                <td>26</td>
                <td>27</td>
                <td>28</td>
                <td>29</td>
                <td>30</td>
                <td>31</td>
                <td></td>
            </tr>
        </table>
    </body>
</html>